<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<header>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="intro">
                <div class="video">
                    <video class="video-media" src="video/10-22_RU-301392410_01.mp4"  loop="loop" muted="muted" autoplay="autoplay"></video>
                </div>
            </div>
            <div class="carousel-text block">
                <h5>На фоне видео с моим крутым моментом</h5>
                <p>Топ 20 самых высоких закрытых ключей в шадоулендс, по стрелке справа</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-next1" type="button" onclick="window.location.href = 'index.html';" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</header>

</body>
</html>

